$font-family: 'Open Sans', sans-serif;

// Colour
$white: #ffffff;
$black: #000000;
$background: #f0f2f5;
$faded: #a9a9a9;

// Media Queries
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;